<html> 
	<head>

		{%if title %}
		<title>{{ title }} - ADI Internal Tooling </title> 
		{% else %}
		<title> ADI Internal Tooling </title>
		{% endif %}
		 <link rel="stylesheet" href="./../static/style.css">
		 <link rel="stylesheet" href="./../static/form.css">
	</head>
	<body>
		<ul class="nav">
  		<li class="navItem"><a href="/index">Home</a></li>
  		<li class="navItem"><a href="/contact">Profile</a></li>
 		<li class="navItem"><a href="/companies">Companies</a></li>
  		<li class="navItem"><a href="/interactions">Events</a></li>
  		<li class="navItem"><a href="/offers">Workshops</a></li>
  		<li class="navItem"><a href="/search">Search</a></li>
		</ul>
    	
	    <hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }} </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}

	</body>
</html>
