<html> 
	<head>

		{%if title %}
		<title>{{ title }} - Making It Into Civic Tech </title> 
		{% else %}
		<title> Making It Into Civic Tech </title>
		{% endif %}
		 <link rel="stylesheet" href="./../static/style.css"> 
		 <link rel="stylesheet" href="./../static/form.css"> 
	</head>
	<body>
		<ul class="nav">
		<li class="navItem"><a href="/about">About</a></li>
 		<li class="navItem"><a href="/jobs">Jobs</a></li>
  		<li class="navItem"><a href="/orgs">Organizations</a></li>
  		<li class="navItem"><a href="/media">Media</a></li>
		</ul>
    	
	    <hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }} </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}

	</body>
</html>
