<!-- entend from base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="container">
  <div class="info">
    <h1>Add an account</h1>
    <h4> Add a new person to the ADI system. </h4>
  </div>
</div>
<div class="form">
  <form action="/profile" method="post" name="contact">
       {{ form.csrf_token }}
      {{form.name(placeholder="Full Name (ex. Mark Du)")}}
      {{form.semester_start(placeholder="Semester Start (ex. Spring 2016)")}}
      <p> Select what company you work for </p>
      {{form.company()}} <br>
      <br>
      <p> Select a project to join </p>
      {{form.project()}}
      <br>
      <br>
      <button type="submit"> Submit </button>
  </form>
</div>

{% endblock %}
